*{
margin: 0%;
padding:0%;
}
::-webkit-scrollbar {
width: 1px;
margin-left: 1px;
margin-top: 1px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 2px;
background-color: rgba(240, 239, 239, 0.158);
/* Cor do polegar da barra de rolagem */
margin-top: 1px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 1px;
border-radius: 7 rgba(177, 175, 175, 0);
background-color: rgba(0, 255, 136, 0);
border-radius: 5px;
cursor: pointer;
}
body{
font-family: 'Poppins', sans-serif;
background-color: #ffffff;
}
header{
width: 100%;
position: fixed;
justify-content: space-around;
align-items: center;
background-color: rgba(0, 0, 0, 0.815);
color: #ffffff;
z-index: 999;
padding-bottom: 10px;
margin-bottom: 20px;
}
#headUm{
max-width: 1100px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin-left: 10px;
margin-top: 10px;
margin: auto;
background-color: rgba(127, 255, 212, 0);
}
#Hdd{
display: flex;
align-items: center;
}
#headUm img{
margin-right: 10px;
width: 50px;
}
main{
width: 100%;
min-height: 200vh;
padding-top: 82px;
background-color: black;
}
#divMainUm{
margin: auto;
width: 100%;
max-width: 1100px;
min-height: 100vh;
background-color: rgb(17, 17, 17);
padding-bottom: 30px;
padding-top: 20px;

}
#divMainUm h2, #h2TituloDois{
text-align: center;
color: #ffffff;
padding-top: 10px;
margin-top: 5px;
margin-bottom: 25px;
}
#listFilmes{
margin: auto;
color: aliceblue;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
max-height:200vh;
overflow: auto;

}
#divL{
color: #ffffff;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 30px;
cursor: pointer;
border: 2px solid transparent;
width: 163px;
overflow: hidden;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}
#divL:hover{
border-bottom: 2px solid rgb(9, 255, 0);
}
#divL:hover #img{
transform: translatey(-10px); 
}
#img{
width: 100%;
transition: transform 0.7s ease;
}
#img:hover{
transform: translateY(-10px); 
}
#titulo{
color: rgb(199, 199, 199);
font-family: 'Poppins', sans-serif;

}
#subtitulo{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
font-family: 'Poppins', sans-serif;
color: rgb(182, 182, 182);
}
#label{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
color: rgb(255, 94, 0);
font-family: 'Poppins', sans-serif;
}
#divL:hover #titulo,#divL:hover #subtitulo{
color: #ffffff;
}
#divPesq{
margin: auto;
max-width: 350px;
min-width: 225px;
background-color: #777777;
display: flex;
justify-content: space-between;
padding-right:5px ;
align-items: center;
margin-bottom: 10px;
color: #ff0000;
border-radius: 16px;
overflow: hidden;
outline: none;
cursor: pointer;
border: 1px solid  #777777;;
font-family: 'Poppins', sans-serif;
}
#inputpesq{
margin: auto;
width: 80%;
font-family: 'Poppins', sans-serif;
}
#pesquise{
width: 100%;
padding: 5px;
border: 0cap;
background-color: transparent;
outline: none;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
background-color: rgba(0, 0, 0, 0.801);
color: #e5f1ff;
cursor: pointer;
font-family: 'Poppins', sans-serif;
text-align: center;
}
#pesquise:hover{
background-color: rgb(230, 230, 230);
color: rgb(253, 59, 0);
}
#divPesq #pesq-1{
width: 20%;
height: 100%;
text-align: center;
color: #bdbdbd;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
cursor: pointer;
font-weight: bold;
margin-left: 5px;
padding: 5px 7px;
}
@media (max-width: 530px) {
#divPesq{
margin: auto;
max-width: 300px;
min-width: 220px;
background-color: #777777;
display: flex;
justify-content: space-between;
padding-right:5px ;
align-items: center;
margin-bottom: 10px;
color: #ff0000;
border-radius: 16px;
overflow: hidden;
outline: none;
cursor: pointer;
border: 1px solid  #777777;;
font-family: 'Poppins', sans-serif;
}
}
@media (max-width: 700px){
  #listFilmes{
margin: auto;
color: aliceblue;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
min-height:100vh;

}
}
#divPesq:hover{
font-family: 'Poppins', sans-serif;
background-color: rgb(175, 175, 175);
}
#divPesq #pesq-1:hover{
color: rgb(255, 255, 255);
font-weight: bold;
}
#divPesq:hover #pesq-1{
color: rgb(255, 255, 255);
}
#lblfchardivPesq{
float: right;
margin-right: 37px;
cursor: pointer;
color: #660101;
font-weight: bold;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#lblfchardivPesq:hover{
color: red;
}
#lblfchardivPesq{
margin-right: 30px;
}
#respPesquisasadiv{
position: fixed;
margin: auto;
width: 100%;
height: 100vh;
max-width: 1920px;
z-index: 9999;
background-color: rgb(255, 255, 255);
padding-top: 20px;
display: none;
}
#lisatrespPesq{
margin: auto;
width: 100%;
max-width: 640px;
background-color: rgb(255, 255, 255);
min-height: 30vh;
height: 82vh;
padding-bottom: 100px;
margin-bottom: 50px;
padding: 10px;
margin-top: 10px;
overflow: auto;
cursor: pointer;
}
#lisatrespPesq h2{
margin-bottom: 20px;
margin-top: 20px;
}
#imagemps{
width: 50px;
padding-top: 7px;
}
#divbase{
display: flex;
align-items: center;
cursor: pointer;
margin-bottom: 10px;
margin-top: 10px;
cursor: pointer;
border-bottom: 2px solid rgba(180, 180, 180, 0.856);
background-color: #ffffff00;
}
#divbase:hover{
color: aliceblue;
box-shadow: 0 4px 8px rgba(0,0,0,0.35);
background-color: rgb(44, 61, 61);
}
#divum{
margin-left: 7px;
margin-right: 10px;
cursor: pointer;
}
#divdois{
display: flex;
flex-direction: column;
}
#lbl1{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
cursor: pointer;
}
#lbl2{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
cursor: pointer;
}
#lblFech,#lblfchardivPesq{
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
font-weight: bold;
color: rgb(128, 0, 0);
cursor: pointer;
}
#lblFech:hover, #lblfchardivPesq:hover{
color: rgb(255, 0, 0);
}
#bblog{
color: #1ba000;
cursor: pointer;
}
#bbdesc{
color: rgb(255, 255, 255);
cursor: pointer;
}
#myProgresos {
width: 90%;
background-color:rgb(78, 78, 78);
display: none;
border-radius: 10px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
border: 2px solid rgb(200, 204, 207);
}
#myBarr {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(197, 197, 197, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(255, 60, 0);
border-radius: 7px;
border: 2px solid rgb(200, 204, 207);
font-weight: bolder;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
animation: girar 10s linear infinite; /* já inicia girando  */
}
#btnTime_{
animation: girar 77s linear infinite; /* já inicia girando  */
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInit{
width: 100%;
min-height: 15vh;
}
#headUm button{
border: 0cap;
cursor: pointer;
background-color: transparent;
color: #e5f1ff;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#headUm button:hover{
color: #2bff00;
}
#MeuPerfil{
position: fixed;
left: -100%;
width: 100%;
max-width: 400px;
height: 100vh;
background-color: #070707;
color: #e5f1ff;
transition: left 0.3s ease;
z-index: 999;
padding: 0px;
top: 0px;
padding-top: 30px;
padding-bottom: 250px;
overflow: auto;
padding-left: 10px;
}
.btnH{
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem); 
font-family: 'Poppins', sans-serif;
}
@media (max-width: 730px) {
#MeuPerfil{
position: fixed;
left: -100%;
width: 100%;
max-width: 1920px;
min-height: 100vh;
background-color: #000000;
color: rgb(255, 255, 255);
transition: left 0.3s ease;
z-index: 999;
padding: 0px;
padding-top: 30px;
padding-top: 0px;
padding-bottom: 50px;
overflow: auto;
padding-left: 10px;
}
.btnH{
display: none;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem); 
font-family: 'Poppins', sans-serif;
}
}
.MeuPerfil-ativo {
left: 0 !important;
}
#lblFecharPerf{
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
cursor: pointer;
margin-bottom: 30px;
color: #e5f1ff;
margin-left: 12px;
padding-top: 30px;
}
#lblFecharPerf:hover{
color: rgb(255, 0, 0);
}
meuPerfilIMGfllex label{
margin-left: 0px;
}
#fecharclickperfil{
width: 25px;
float: right;
cursor: pointer;
margin-right: 2px;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
background-color: transparent;
color: #e5f1ff;
font-weight: bold;
}
#fecharclickperfil:hover{
color: red;
}
#labeDivLater{
  display: flex;
  flex-direction: column;
}
#labeDivLater label{
 cursor: pointer;
}
#labeDivLater label:hover{
 cursor: pointer;
 color: #2bff00;
}
#divMainDois{
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background-color: rgba(77, 0, 56, 0);
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-top-left-radius: 50px ;
  border-top-right-radius: 50px;
  border-top: 12px solid rgb(69, 0, 71);
  display: none;
}
#selectListaUm{
  color: #e5f1ff;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 0cap;
  background-color: #000000;
  font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
  font-family: 'Poppins', sans-serif;
}
#selectListaUm option{
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  cursor: pointer;
  color: rgb(30, 255, 0);
}
#fecharclickperfil{
  margin-top: 10px;
  margin-right: 20px;
}
#divMainUm #h2Titulo{
    margin-top: 20px;
    margin-bottom: 20px;
}