*{
margin: 0%;
padding:0%;
}
::-webkit-scrollbar {
width: 1px;
margin-left: 1px;
margin-top: 1px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 2px;
background-color: rgba(240, 239, 239, 0.158);
/* Cor do polegar da barra de rolagem */
margin-top: 1px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 1px;
border-radius: 7 rgba(177, 175, 175, 0);
background-color: rgba(0, 255, 136, 0);
border-radius: 5px;
cursor: pointer;
}
body{
font-family: 'Poppins', sans-serif;
background-color: #ffffff;
}
header{
width: 100%;
 position: fixed;
 justify-content: space-around;
 align-items: center;
 background-color: black;
 color: #ffffff;
}
#headUm{
max-width: 1400px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
margin-left: 10px;
margin-top: 10px;
margin: auto;
background-color: rgba(127, 255, 212, 0);

}
#Hdd{
    display: flex;
    align-items: center;
}

#headUm img{
  margin-right: 10px;
}
main{
    width: 100%;
    min-height: 200vh;
    padding-top: 70px;
    background-color: rgb(19, 19, 19);
}
#divMainUm{
    margin: auto;
    width: 100%;
    max-width: 1100px;
    min-height: 100vh;
     background-color: black;
    padding-bottom: 100px;
    padding-top: 40px;
}
#divMainUm h2{
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    margin-top: 5px;
}
#listFilmes{
    margin: auto;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
#divL{
   color: #ffffff;
   margin-right: 5px;
   margin-left: 5px;
   margin-bottom: 30px;
    
}
#img{
    width: 160px;
}
#subtitulo{
     font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
}
#label{
     font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
     color: red;
}